In [16]:
import pandas as pd
import numpy as np
import os
import matplotlib as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv("penguins.csv")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [18]:
df = df.drop(columns =['island', 'sex'])
df.head()

  species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0  Adelie              39.1             18.7              181.0       3750.0
1  Adelie              39.5             17.4              186.0       3800.0
2  Adelie              40.3             18.0              195.0       3250.0
3  Adelie               NaN              NaN                NaN          NaN
4  Adelie              36.7             19.3              193.0       3450.0

In [19]:
df = df.dropna(axis=0, how='any')
df.head()

  species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0  Adelie              39.1             18.7              181.0       3750.0
1  Adelie              39.5             17.4              186.0       3800.0
2  Adelie              40.3             18.0              195.0       3250.0
4  Adelie              36.7             19.3              193.0       3450.0
5  Adelie              39.3             20.6              190.0       3650.0

In [20]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['species'])
Y = df['species']
x_train, x_test, y_train, y_test = train_test_split(X,
                                                    Y,
                                                    test_size=0.3)

In [21]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [22]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
print("Accuracy: ", model.score(x_test, y_test) * 100)

Accuracy:  97.0873786407767

In [24]:
import pickle
filename = 'modelpenguin.sav'
pickle.dump(model, open(filename, 'wb'))